{% extends 'BackOfficeBundle:Default:layout.html.twig' %}

{% block content %}
<main class="ui container">
  <section class="ui raised segment">
    <h1 class="ui horizontal divider header">
      <i class="home icon"></i>
      Ville
    </h1>

    <table class="ui selectable celled table">
      <tbody>
          <tr>
              <th>Id</th>
              <td>{{ ville.id }}</td>
          </tr>
          <tr>
              <th>Ville</th>
              <td>{{ ville.ville }}</td>
          </tr>
          <tr>
              <th>Cp</th>
              <td>{{ ville.cp }}</td>
          </tr>
      </tbody>
    </table>

    {{ form_start(delete_form) }}
    <input class="ui red right floated button" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
    <a class="ui primary button" href="{{ path('ville_index') }}">Retourner à la liste</a>
    <a class="ui primary button" href="{{ path('ville_edit', { 'id': ville.id }) }}">Edition</a>
  </section>
</main>
{% endblock %}
