{% extends 'BackOfficeBundle:Default:layout.html.twig' %}

{% block content %}
<main class="ui container">
  <section class="ui raised segment">
    <h1 class="ui horizontal divider header">
      <i class="user icon"></i>
      Internaute
    </h1>

    <table class="ui selectable celled table">
      <tbody>
          <tr>
              <th>Id</th>
              <td>{{ internaute.id }}</td>
          </tr>
          <tr>
              <th>Nom</th>
              <td>{{ internaute.nom }}</td>
          </tr>
          <tr>
              <th>Prenom</th>
              <td>{{ internaute.prenom }}</td>
          </tr>
          <tr>
              <th>Tel</th>
              <td>{{ internaute.tel }}</td>
          </tr>
          <tr>
              <th>Mail</th>
              <td>{{ internaute.mail }}</td>
          </tr>
          <tr>
              <th>Voiture</th>
              <td>{{ voiture.voiture }}</td>
          </tr>
          <tr>
              <th>Ville</th>
              <td>{{ ville.ville }} - {{ ville.cp }}</td>
          </tr>
      </tbody>
    </table>

    {{ form_start(delete_form) }}
    <input class="ui red right floated button" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
    <a class="ui primary button" href="{{ path('internaute_index') }}">Retourner à la liste</a>
    <a class="ui primary button" href="{{ path('internaute_edit', { 'id': internaute.id }) }}">Edition</a>
  </section>
</main>
{% endblock %}
