{% extends 'FrontOfficeBundle:Default:layout.html.twig' %}
{% block content %}
<div class="ui fluid card">
  <div class="content">
    <i class="right floated fas fa-car"></i>
    <div class="header">
      Trajet {{ infos.id }}
    </div>
    <div class="meta">
      {{ infos.date|date("m/d/Y") }}
    </div>
    <span class="rigth floated">{{ infos.nbKm }}</span>
    <div class="description">
      {{ internaute.prenom }} {{ internaute.prenom }}
    </div>
  </div>
  <div class="extra content">
    {{ internaute.voitureId.voiture }}
  </div>
  <div class="extra content">
    <span class="right floated">
      {{ infos.depart }}
    </span>
    <span>
      {{ infos.arrivee }}
    </span>
  </div>
</div>
{{ dump(infos) }}
{{ dump(internaute) }}
{{ dump(voiture) }}
{% endblock %}
