{% extends 'FrontOfficeBundle:Default:layout.html.twig' %}
{% block content %}
<main class="ui container">
  <div class="ui hidden divider"></div>
  <section class="ui raised segment">
    <div class="ui form">
      <div class="ui icon input">
        <!-- <input class="prompt" type="text" placeholder="Common passwords...">
        <i class="search icon"></i> -->
        {{ form_start(form) }}
          {{ form_widget(form.search, { 'attr': {'class': 'prompt'} }) }}
          {{ form_widget(form.Rechercher, { 'attr': {'class': 'prompt'} }) }}
        {{ form_end(form) }}
      </div>
    </div>
    {% if text|length > 0 %}
    <div class="ui message">
      <div class="header">
        {{ text }}
      </div>
    </div>
    {% endif %}
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Identifiant</th>
          <th>Nombre de km</th>
          <th>Date</th>
          <th>Internaute</th>
          <th>Départ</th>
          <th>Arrivée</th>
        </tr>
      </thead>
      <tbody>
        {% for trajet in trajets %}
            <tr>
              <td><a href="/{{ trajet.id}}">Trajet {{ trajet.id }}</a></td>
              <td>{{ trajet.nbKm }}</td>
              <td>{{ trajet.date|date("m/d/Y H:i:s") }}</td>
              <td>{{ trajet.internaute.prenom }} {{ trajet.internaute.nom }}</td>
              <td>{{ trajet.depart }}</td>
              <td>{{ trajet.arrivee }}</td>
            </tr>
        {% endfor %}
        {% if trajets is empty %}
            <tr>
              <td>Pas de résultat</td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
</main>
{% endblock %}
